# Enviroment variables needed to connect to the LiveKit server.
LIVEKIT_API_KEY=APIY6JPksVs5Lnh
LIVEKIT_API_SECRET=pBclM23Cr5aSOipg3fif5ugvCvEJUe93bVj8f6C07vTD
LIVEKIT_URL=wss://jaggaer-xwu7u1vd.livekit.cloud

# Agent dispatch (https://docs.livekit.io/agents/server/agent-dispatch)
# Leave AGENT_NAME blank to enable automatic dispatch
# Provide an agent name to enable explicit dispatch
AGENT_NAME= jaggaerassesment

# Internally used environment variables
NEXT_PUBLIC_APP_CONFIG_ENDPOINT=
SANDBOX_ID=
